---
import Layout from '../layouts/BlogPost.astro';

const base = import.meta.env.BASE_URL;
---

<Layout
	title="♡"
	description="About me"
	pubDate={new Date()}
>
	<img
		src={`${base}sei.jpeg`}
		alt="favorite character"
		style="width:750px; border-radius:60px;"
	/>

	<p style="margin-top:1rem; font-style:italic;">
		This is why I study. <br />
		Eres el código que cambió mi vida.
	</p>
</Layout>