---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const base = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <BaseHead title="MAT137 Notes" description="My MAT137 notes" />
  </head>
  <body>
    <Header />
    <main>
      <h1>MAT137 Notes</h1>
      <p>This page contains my notes for MAT137.</p>

      <ul>
        <li><a href={`${base}blog/mat137/limits/`}>Limits</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>